extends layout

block content
  .jumbotron
    h1 New Endorsement
    
  .container
    .row 
      .col-md-8.offset-md-2
        form(action="/endorsements" method="POST")
          textarea(name="content").form-control
          .text-right.mt-3
            button(type="submit").btn.btn-primary Post Endorsement
