extends layout

block content
  .jumbotron
    h1 Get your personalized voter guide today
    
  .container
    .row 
      .col-md-8.offset-md-2
        .text-right
          a(href="/endorsements/new").btn.btn-outline-dark.mb-3 New Endorsement
          
        each e in endorsements
          .card.mb-3
            .card-body
              div=e.content
              small.d-flex.justify-content-between.mt-2
                a(href="/users/1" class="card-link").text-muted by Stefan Mueller
                a(href=`/endorsements/${e.id}/edit`) Edit
