extends layout

block content
  .jumbotron
    h1 Stefan Muller's Endorsements
    
  .container
    .card.mb-3
      .card-body
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
        
        small.d-flex.justify-content-between.mt-2
          a(href="/users/1" class="card-link").text-muted by Stefan Mueller
          a(href="/endorsements/1/edit" class="card-link").text-muted Edit
    .card.mb-3
      .card-body
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
        
        small.d-flex.justify-content-between.mt-2
          a(href="/users/1" class="card-link").text-muted by Stefan Mueller
          a(href="/endorsements/1/edit" class="card-link").text-muted Edit
